/LatihanDatabase/nbproject/private/
/LatihanDatabase/build/
/NetodePolimorfisme/nbproject/private/
/NetodePolimorfisme/build/
/LibrarySystemDatabase/nbproject/private/
/LibrarySystemDatabase/build/
/GUI_Siakad_Sederhana/nbproject/private/
/Siakad_SederhanaFX/nbproject/private/
/Siakad_SederhanaMvn/nbproject/private/
/Siakad_SederhanaFX/build/